.cover__link {
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: url(../../../image/cursor.svg), auto;
    padding: 30px;
}
@media screen and (max-width: 480px) {
    .cover__link {
        min-height: 200px;
        padding: 5px;
    }
}