.place__image {
    grid-row: 2;
    grid-column: 1;
    max-width: 460px;
    /* background-size: cover; */
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}
@media screen and (max-width: 1000px) {
    .place__image {
        max-width: 340px;
    }
}
@media screen and (max-width: 760px) {
    .place__image {
        max-width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
    }
}
