.header {
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;

}

@media screen and (max-width: 1025px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        /* margin-left: 24px;
        margin-right: 24px; */
    }
}

@media screen and (max-width: 400px) {
    .header {
        margin: 16px 16px 0;
        max-width: 288px;
    }
}