.overlay::before {
    content: "";
    display: block;
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.overlay:hover::before {
    opacity: 0.8;
    transition: opacity 1s;
    cursor: url(../image/cursor.png), auto;
}

