.lead__title {
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    margin: 0;
    max-width: 720px;
}

@media screen and (max-width: 1260px) {
    .lead__title {
        max-width: 78%;
    }
}

@media screen and (max-width: 1150px) {
    .lead__title {
        max-width: 87%;
    }
}
@media screen and (max-width: 900px) {
    .lead__title {
        max-width: 720px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 713px) {
    .lead__title {
        font-size: 56px;
    }
}

@media screen and (max-width: 570px) {
    .lead__title {
        font-size: 46px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 480px) {
    .lead__title {
        max-width: 90%;
        font-size: 40px;
        margin-left: 0;
    }
}
@media screen and (max-width: 319px) {
    .lead__title {
        font-size: 28px;
    }
}