.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
    cursor: url(../../../image/cursor.svg), auto;
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width: 570px) {
    .footer__copyright {
        line-height: 1;
    }
} 