.intro {
    margin-top: 92px;
    text-align: left;
    max-width: 690px;
    width: 100%;
    margin-left: 148px;
    box-sizing: border-box;

}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin-top: 88px;
        max-width: 768px;
        padding-left: 24px;
        padding-right: 24px;
        margin-left: 0;
        margin-right: 0;

    }
}

@media screen and (max-width: 480px) {
    .intro {
        margin-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (max-width: 319px) {
    .intro {
        max-width: 250px;
        margin-left: 16px;
        margin-right: auto;
    }
}