.cover {
    max-width: 92.5%;
    background-image: url(../../image/cover-background.png);
    min-height: 720px;
    margin-top: 92px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.cover::after {
    content: "";
    width: 0;
    height: 0;
    /* margin-left: -1px; */
    padding-top: calc(740/1184 * 100%);
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        min-height: 480px;
    }
}

@media screen and (max-width: 480px) {
    .cover {
        margin-top: 66px;
        min-height: 200px;
    }
}