.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
    margin-bottom: 24px;
    max-width: 1184px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-top: 84px;
    }
}

@media screen and (max-width: 570px) {
    .footer {
        flex-direction: column;
        gap: 48px;
        margin-top: 64px;
        margin-left: 16px;
    }
}