@font-face {
    font-family: 'Inter';
    src: url(../fonts/InterRegular.woff);
}

* {
    background-color: #2A2C2F;
}

.page {
    min-width: 1280px;
    max-width: 2000px;
    margin: 0 auto;
    font-family: 'Inter';
    color: #fff;
    display: flex;
    flex-direction: column;
}
.container-l {
    max-width: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header {

    display: flex;
    margin-top: 28px;
    justify-content: space-between;
}

.logo {
    width: 176px;
    height: 52px;
}

.header__lang {
    display: flex;
    gap: 18px;

}

.header__link {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    background-color: #2A2C2F;
    border: none;
}

.header__link:focus {
    text-decoration: underline;
}

/* .content {
    display: flex;
    flex-direction: column;
} */

.container-s {
    max-width: 77%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}

.lead__title {
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    margin: 0 auto;
}

.lead__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    margin: 32px auto 0 auto;
}

.lead__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 615px;
    margin-top: 64px;
}

.lead__caption {
    margin-top: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
}

.intro {
    margin-top: 92px;
    text-align: left;

}

.intro__items {
    max-width: 690px;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
}

.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-top: 40px;
    margin-bottom: 0;
}

.intro__list {
    margin-top: 33px;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}